.notification-permission h1 {
  text-align: center;
}

.notification-permission button {
  margin-bottom: 1em;
}

.notification-permission-body {
  background-color: #353638;
  line-height: 1.35em;
  color: #f1eff3;
  padding: 12.5px;
  border-radius: 10px;
  margin-bottom: 1.5em;
}

.notification-permission-body h2 {
  margin-bottom: 0.5em;
  line-height: initial;
}

.notification-permission-body p {
  margin-top: 0.5em;
}
