.notification-permission {
  text-align: center;
  margin-bottom: 0.5em;
}

.notification-permission button {
  margin-bottom: 1em;
}

.notification-permission-body {
  background-color: #353638;
  line-height: 1.35em;
  color: #f1eff3;
  padding: 12.5px;
  border-radius: 10px;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
}

.notification-permission-body h2 {
  margin-bottom: 0.5em;
  line-height: initial;
}

.notification-permission-body p {
  margin-top: 0.5em;
}

@media (min-width: 426px) {
  .notification-permission svg {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  .notification-permission svg {
    width: 35%;
  }
}
