.final-step {
  text-align: center;
}

.final-step div {
  /* width: calc(100% - 3vw - 25px); */

  border-radius: 20px;
  padding: 15px;
  line-height: 35px;
  background-color: #353638;
  color: #aba6a6;
  margin-top: 45px;
  margin-bottom: 45px;
}

.final-step h1 {
  text-align: center;
  color: #28d8b5;
  margin-bottom: 2.5em;
}

.final-step h4 span {
  color: #ff304f;
}

.success-info h4 {
  margin: 0;
}

.warning-info div {
  margin: 0;
}

.warning-info h3 {
  text-align: center;
  font-size: 2em;
}

/* .warning-info {
  display: flex;
  flex-direction: row;
  align-items: center;
} */

/* .warning-info div:nth-child(1) {
  width: 22%;
} */

/* .warning-info div:nth-child(2) {
  font-size: 1.3em;
  padding: 0;
} */

/* .warning-svg {
  display: block;
  font-size: 10em;
  color: #f9a825;
  padding: 0;
} */

@media (min-width: 640px) {
  #b957563f-f3ae-41bc-84ab-fc01e4d69de7 {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  #b957563f-f3ae-41bc-84ab-fc01e4d69de7 {
    width: 35%;
  }
}
