@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Comfortaa';
  src: url('./fonts/comfortaa.ttf');
  font-display: swap;
}

body {
  margin: 0;
  overscroll-behavior: none;
  background-color: #272a2d;
  font-family: Roboto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.main-body {
  margin: 12.5vh 3vw 0 3vw;
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  margin: 0;
  color: #f1eff3;
  font-family: Roboto;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

em {
  color: #f9a825 !important;
}

*:focus {
  outline: none;
}

/* Styling for App.tsx starts from here */

#reload-subscriptions {
  position: fixed;
  bottom: 25px;
  right: 25px;
  border-radius: 50%;
  width: initial;
  padding: 10px;
}

#reload-subscriptions svg {
  width: 5vw;
  height: auto;
}

.rotate {
  animation: rotation 1.75s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

/* Styling for App.tsx ends from here */

@media (min-width: 426px) {
  .main-body {
    margin-top: 17.5vh;
  }
}

@media (min-width: 640px) {
  .main-body {
    margin-top: 20vh;
  }
}

@media (min-width: 2560px) {
  .main-body {
    margin-top: 30vh;
  }
}
